<%- include('../../public/header.ejs') %>
<main>
    <div class="booking-container">
        <p>Tack så mycket för att du har valt att resa med oss!</p>
        <button onclick="window.location.href='/home'" class="btn btn-primary">Tillbaka till startsidan</button>

    </div>
</main>

<%- include('../../public/footer.ejs') %>