<footer class="footer">
    <ul>
        <li><a href="#"><i class="bi bi-map-fill"></i></a></li>
        <li><a href="#"><i class="bi bi-clock-history"></i></a></li>
        <li><a href="#"><i class="bi bi-person-fill"></i></a></li>
    </ul>
</footer>
</body>
</html>
