<%- include('../../public/header.ejs') %>

<main class="email-page d-flex justify-content-center align-items-center">
    <div class="email-page_container text-center">
        <h1 class="email-page_title">Epost krävs</h1>
        <p>Var vänligen och skriv in en giltlig epost adress</p>
        <form class="email-page_form" action="/email" method="POST">
            <input
                id="email-input"
                class="email-page_input form-control mb-3"
                type="email"
                name="email"
                placeholder="Email"
                required
            >
            <button class="email-page_button btn btn-primary" type="submit">Submit</button>
        </form>
    </div>
</main>
