<%- include('../../public/header.ejs') %>
<main class="login-page">
    <h1 class="login-title">Välkommen till MagicBike</h1>
    <a href="https://github.com/login/oauth/authorize?scope=user:email&client_id=<%=client_id%>">
        <div class="login-button">
            <p>Logga in med GitHub</p>
        </div>
    </a>
</main>
<%- include('../../public/header.ejs') %>