<%- include('../header') %>
<main class="login-page">
    <div class="login-button">
        <p>
            Logga in med:
            <a href="https://github.com/login/oauth/authorize?scope=user:email&client_id=<%=client_id%>">GitHub</a>
        </p>
    </div>
</main>
<%- include('../footer') %>